*~
*.6
8.out
.nfs*
_*
6.out
.vscode
#*
example/hello/hello
example/unionfs/unionfs
example/autounionfs/autounionfs
example/loopback/loopback
example/multizip/multizip
example/bulkstat/bulkstat
example/zipfs/zipfs
example/memfs/main
example/memfsopt/main
# test binaries
*.test
benchmark/bulkstat.bin
benchmark/bulkstat/main
benchmark/cstatfs
